<template>
    <div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="from"> Origem </label>
                    <select class="custom-select" v-model="calculator.from" id="from">
                        <option v-for="region in regions" v-bind:value="region.id"> {{ region.area_code }} </option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="to"> Destino </label>
                    <select class="custom-select" v-model="calculator.to" id="to">
                        <option v-for="region in regions" v-bind:value="region.id"> {{ region.area_code }} </option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="plan"> Plano </label>
                    <select class="custom-select" v-model="calculator.plan" id="plan">
                        <option v-for="plan in plans" v-bind:value="plan.id"> {{ plan.name }} </option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label form="minutes"> Minutos </label>
                    <input type="number" class="form-control text-center" v-model="calculator.minutes" />
                </div>
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary btn-lg btn-block" type="button" v-on:click="calculate">
                    Calcular
                </button>
            </div>
        </div>

        <div class="row"> <div class="col-12"> <hr class="mb-4" /> </div> </div>

        <div class="row" v-if="message != ''">
            <div class="col-md-12">
                <p class="alert alert-danger"> {{ message }} </p>
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->

        <div class="card-deck mb3 text-center mt-5" role="alert" v-if="hasResult">
            <div class="mb-6 card shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> <b>Sem</b> {{ plan.name }}</h4>
                </div>

                <div class="card-body">
                    <h1 class="card-title price"> R$ {{ result.without_plan }} </h1>
                    <div>
                        <b> {{ calculator.minutes }} minutes </b>
                    </div>
                </div>
            </div>

            <div class="mb-6 card shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> <b>Com</b> {{ plan.name }} </h4>
                </div>

                <div class="card-body">
                    <h1 class="card-title price"> R$ {{ result.with_plan }} </h1>
                    <div v-if="plan.additional_minutes > 0">
                        <b> {{ plan.additional_minutes }} minutos adicionais </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                message: '',
                hasResult: false,
                result: [],
                plan: {
                    name: '',
                    additional_minutes: 0,
                },
                plans: [],
                regions: [],
                calculator: {
                    from: 0,
                    to: 0,
                    minutes: 0,
                    plan: 0
                }
            }
        },

        beforeMount()
        {
            this.fetchPlans();
            this.fetchRegions();
        },

        methods : {
            fetchPlans()
            {
                fetch('api/plans')
                    .then( res => res.json() )
                    .then( res => {
                        this.plans = res.data;
                    })
            },

            fetchRegions()
            {
                fetch('api/regions')
                    .then( res => res.json() )
                    .then( res => {
                        this.regions = res.data;
                    })
            },

            calculate()
            {
                let data = {
                    from: this.calculator.from,
                    to: this.calculator.to,
                    minutes: this.calculator.minutes,
                    plan: this.calculator.plan
                };

                fetch('api/calculator', {
                    method: 'post',
                    body: JSON.stringify(data),
                    headers: {
                        'content-Type': 'application/json',
                    },
                }).then(res => res.json())
                    .then(res => {
                        if ( typeof res.data !== 'undefined' ) {
                            let additional_minutes = res.data.plan.minutes < this.calculator.minutes ? this.calculator.minutes - res.data.plan.minutes : 0;

                            this.message = '';

                            this.plan.name = res.data.plan.name;
                            this.plan.additional_minutes = additional_minutes;
                            this.result = res.data;
                            this.hasResult = true;

                            return false;
                        }

                        this.hasResult = false;
                        this.message = res.message;
                    })
            },
        }
    }

</script>

<style scoped>

</style>
