<template>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#"> TELZIR </a>
        </nav>
    </header>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
